.ordered {
    display: flex;
    flex-direction: column;
}

.ordered_fruits {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 10px;
    border: 1px solid black;
}

.span_order {
    display: flex;
    justify-content: center;
}
