.link {
  display: flex;
  justify-content: flex-end;
}

.main_order_link {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main_order_link:hover {
  opacity: 0.7;
}

.button_remove {
  display: inline-block;
  width: 80px;
  height: 50px;
  margin-right: 20px;
  border-radius: 5%;
}